body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background: #2e2e2e;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  color: white;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.navbar a.active {
  color: #5289ff;
}

.container {
  padding: 30px;
}